<div class="container-fluid">
    <div class="row row-nav">
      <div class="col-md-8 div-nav">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand logo"  routerLink="" ><img src="../../../assets/img/logo.png" width="70" height="30" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">

                  <button   class="buttonNotifica" mat-raised-button color="primary" matBadge="{{this.pendente}}" MatBadgeSize="small" matBadgeColor="warn" (click)="getOrdemPendente()">
                    O.S Pendentes
                  </button>

              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-danger buttonNotifica" (click)="getOrdemAtrasada()">
                    O.S Atrasadas <span class="badge badge-light">{{this.atrasadas}}</span>
                  </button>

              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-success buttonNotifica" (click)="getOrdemConcluida()">
                    O.S Concluidas <span class="badge badge-light">{{this.concluida}}</span>
                  </button>

              </li>



            </ul>
            <button type="button" class="btn btn-light" id="sair" (click)="this.service.logout()"> <span>Sair </span> <img src="../../../assets/img/sair.png" alt="Sair da conta" > </button>

          </div>
        </nav>


      </div>
    </div>

    <div class="row">
      <div class="col-md-8 tela">
        <app-ordem-pendente [lista]="this.ordem" *ngIf="exibirOrdem" (onClose)="tratarOrdem($event)"></app-ordem-pendente>
        <app-tratamento-ordem [etapa]="this.etapa" *ngIf="editarEtapa"  (ordemTrat)="ordemTratada($event)" [temporario]="this.temporario" [final]="this.final"></app-tratamento-ordem>
        <div class="alert alert-info alert-dismissible fade show" role="alert" *ngIf="confirmacaoAltEtapa">
          <strong>Sucesso!</strong> A ordem Foi atualizada com sucesso!
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>


