
<div class="container-fluid">
  <div class="row row-nav">
    <div class="col-md-8 div-nav">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand logo" href="#"><img src="../../../assets/img/logo.png" width="70" height="30" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
          
          <button type="button" class="btn btn-light" id="sair" (click)="this.service.logout()"> <span>Sair </span> <img src="../../../assets/img/sair.png" alt="Sair da conta" > </button>
          <button type="button" class="btn btn-light" id="voltar" (click)="this.service.logout()"> <a routerLink="/tecnico/lista-ordens">Voltar </a><img src="../../../assets/img/volte.png" alt="voltar a tela anterior" > </button>
        </div>
      </nav>


    </div>






    <div class="row rowP">
      <div class="progressbar-wrapper col-md-11" id="div-pro">
        <ul class="progressbar ul">
            <li class="um" [ngClass]="step1"> <div class="lista">
              Recebido <span>Data: {{this.ordem.ordemEtapa.date_1.getDate()}}/{{this.ordem.ordemEtapa.date_1.getMonth()+1}}/{{this.ordem.ordemEtapa.date_1.getFullYear()}}
              </span>
            </div>  </li>
            <li [ngClass]="step2">
              <div class="lista">
                Encaminhado Manutenção <span>Data: {{this.ordem.ordemEtapa.date_2.getDate()}}/{{this.ordem.ordemEtapa.date_2.getMonth()+1}}/{{this.ordem.ordemEtapa.date_2.getFullYear()}}
                </span>
              </div>
            </li>
            <li [ngClass]="step3">
              <div class="lista"  >
                <span *ngIf="!previsaoData">Aguardando análise</span>
                <div *ngIf="previsaoData">

                  <button type="button" class="btn btn-info" id="button" (click)="this.exibirLaudoTemporario()">Laudo <br> Temporário</button>
                  <p>Previsão de Entrega: {{this.ordem.ordemEtapa.date_3.getDate()}}/{{this.ordem.ordemEtapa.date_3.getMonth()+1}}/{{this.ordem.ordemEtapa.date_3.getFullYear()}}</p>


                </div>
              </div>
            </li>
            <li [ngClass]="step4">
              <div class="lista"  >
                <span *ngIf="!laudoFinal">Aguardando Laudo</span>
                <div *ngIf="laudoFinal">

                  <button type="button" class="btn btn-success" ><a href="{{this.linkLaudoFinal}}" target="_blank" rel="noopener noreferrer">Laudo<br>Final</a></button>



                </div>
              </div>
            </li>
        </ul>

        
    </div>
    



    </div>
    </div>

    <div class="row laudoTemporario" *ngIf="laudoTemporario">
      <div class="col-md-5">
        <h4>Laudo Temporário:</h4>
        <p>{{this.textoLaudoTemporario}}</p>
        
      </div>
    </div>







</div>









