/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
body, html{
  height: 100%;
  background-color: #DCDCDC;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cdk-focused, .cdk-mouse-focused {
  outline: 0 !important;
}
