#td-button{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.table-bordered {
  border: 2px solid black;
}

#td-button button{
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
}
#status{
    display: flex;
    justify-content: space-around;
}

.dados td{
  text-align: center;
  align-items: center;
  font-weight: 500;


}

tr:hover{
  background-color: aliceblue;
}


