<div class="row">
    <div class="col-md-12">
        <table class="table" id="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">O.S</th>
                <th scope="col">CNPJ</th>
                <th scope="col">Cliente</th>
                <th scope="col">ID Equipamento</th>
                <th scope="col">Status</th>
                <th scope="col">Ações</th>

              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let o of ordem">
                <td id="os">{{o.idOrdem}}</td>
                <td>{{o.cnpjCliente}}</td>
                <td>{{o.nomeCliente}}</td>
                <td>{{o.idEquipamento}}</td>
                <td [ngStyle]="{backgroundColor: this.determinarCor(o.status)}" id="status">{{o.status}}</td>
                
                <td id="td-button"> <button type="button" class="btn btn-info"  (click)="abrirDetalhes(o)">Detalhes</button>
                  <button type="button" class="btn btn-info"  (click)="closeEvent(o)">{{this.determinarTextoBotao(o)}}</button> </td>
              </tr>

            </tbody>
          </table>
    </div>

</div>



