#status{
    align-items: center;
    text-align: center;
    font-weight: bold;
    border-radius: 0.5rem;
}

#table{
    border: solid 0.125rem;
    
    border-color: black ;
    visibility: visible;
    
}

#table th, #table td{
    border: solid 0.105rem;
    
    border-color: black ;
    visibility: visible;
    
}

#td-button{
    align-items: center;
    text-align: center;
}

#os{
    font-weight: bold;
}

.row-pesquisa{
    justify-content: space-around;
  }
  
.find{
    margin-bottom: 1rem;
  }

.form-inline{
    justify-content: center;
}

.row-pesquisa button{
    margin-left: 1rem;
    margin-right: 1rem;
  }

td{
    padding: 0.25rem;
}
.td-status{
    display: flex;
    flex-direction: column;

}

.td-status button{
    padding: 0.5rem;
    margin: 0.5rem;
    
}

.td-status div{
    padding: 0.5rem;
    margin-top: 0.5rem;
    
}