<div class="container-fluid">
  <div class="row row-nav">
    <div class="col-md-8 div-nav">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand logo" href="#"><img src="../../../assets/img/logo.png" width="70" height="30" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="novo"><span id="link">Novo Laudo</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="lista-ordens"><span id="link">Acompanhar OS</span> </a>
            </li>

          </ul>
         
        </div>
      </nav>


    </div>
  </div>
  <div class="row">
    <div class="col-md-8 tela">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
